#background {
  position: relative;
  height: 100vmin;
  max-height: calc(100vh - 10vh);
  width: 100%;
  background: linear-gradient(0deg, lightblue, 10%, white, darkblue, yellow);
}
body {
  margin: 0;
  background-color: lightblue;
}
#lowerPage {
  padding: 8px 8px 8px 8px;
}
#lowerVideo {
  display: none;
}
.ball {
  --speed: 2720;
  background-image: url(img/JugglingBall-BeachBall.png);
  background-size: cover;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--speed) * 1ms);
  position: absolute;
  border-radius: 50%;
  width: var(--ballSize);
  height: var(--ballSize);
}
.leftBall {
  animation-name: leftBall;
}
.rightBall {
  animation-name: rightBall;
  z-index: 1;
}
#ball1 {
  animation-delay: 0ms;
}
#ball2 {
  animation-delay: calc((var(--speed) / 8) * 1ms);
}
#ball3 {
  animation-delay: calc((var(--speed) / 8) * 2ms);
}
#ball4 {
  animation-delay: calc((var(--speed) / 8) * 3ms);
}
#ball5 {
  animation-delay: calc((var(--speed) / 8) * 4ms);
}
#ball6 {
  animation-delay: calc((var(--speed) / 8) * 5ms);
}
#ball7 {
  animation-delay: calc((var(--speed) / 8) * 6ms);
}
#ball8 {
  animation-delay: calc((var(--speed) / 8) * 7ms);
}
.cannon {
  position: absolute;
  bottom: -7%;
  --cannonWidth: 35%;
  width: var(--cannonWidth);
}
#leftCannon {
  left: var(--edgeOffset);
  translate: -1.5%;
  transform: rotate(-47.12deg);
  transform-origin: left 60%;
}
#rightCannon {
  margin-right: calc(var(--cannonWidth) * -1);
  transform: rotateY(180deg) rotate(-47.12deg);
  right: var(--edgeOffset);
  translate: 1.5%;
  transform-origin: left 60%;
  z-index: 2;
}
.cloud {
  width: 60%;
  position: absolute;
  bottom: 0;
}
#leftCloud {
  transform: rotateY(180deg);
  left: 0;
}
#rightCloud {
  right: 0;
}
#jugglingContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  --edgeOffset: 22%;
  --ballSize: 8%;
  max-height: calc(100vh - 10vh);
  max-width: calc(100vh - 10vh);
  height: 100vmin;
  width: 100vmin;
  overflow: hidden;
}
#video {
  width: 30%;
  height: 30%;
}
@keyframes leftBall {
  0% {
    left: var(--edgeOffset);
    top: calc(100% - var(--ballSize) * 2);
    animation-timing-function: cubic-bezier(0.55, 0.83, 0.77, 0.88);
  }
  50% {
    left: 54%;
    top: 0;
    animation-timing-function: cubic-bezier(0.17, 0.13, 0.6, 0.37);
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-1080deg);
    left: calc(100% - var(--ballSize));
    top: calc(100% - var(--ballSize));
  }
}
@keyframes rightBall {
  0% {
    right: var(--edgeOffset);
    top: calc(100% - var(--ballSize) * 2);
    animation-timing-function: cubic-bezier(0.55, 0.83, 0.77, 0.88);
  }
  50% {
    right: 54%;
    top: 0;
    animation-timing-function: cubic-bezier(0.17, 0.13, 0.6, 0.37);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1080deg);
    right: calc(100% - var(--ballSize));
    top: calc(100% - var(--ballSize));
  }
}
#navBar {
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
  background-color: rgb(129, 199, 223);
}

@media (max-aspect-ratio: 1/1) {
  #video {
    display: none;
  }
  #lowerVideo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 100%;
  }
}
