:root {
  --cannonAngle: 1;
  --speed: 2720;
  --ballSize: 8vmin;
}
.ball {
  background-image: url(JugglingBall-BeachBall.png);
  background-size: cover;
  animation-iteration-count: infinite;
  animation-duration: calc(var(--speed) * 1ms);
  position: absolute;
  border-radius: 50%;
  width: var(--ballSize);
  height: var(--ballSize);
}
.leftBall {
  animation-name: leftBall;
}
.rightBall {
  animation-name: rightBall;
  z-index: 1;
}
#ball1 {
  animation-delay: 0ms;
}
#ball2 {
  animation-delay: calc((var(--speed) / 8) * 1ms);
}
#ball3 {
  animation-delay: calc((var(--speed) / 8) * 2ms);
}
#ball4 {
  animation-delay: calc((var(--speed) / 8) * 3ms);
}
#ball5 {
  animation-delay: calc((var(--speed) / 8) * 4ms);
}
#ball6 {
  animation-delay: calc((var(--speed) / 8) * 5ms);
}
#ball7 {
  animation-delay: calc((var(--speed) / 8) * 6ms);
}
#ball8 {
  animation-delay: calc((var(--speed) / 8) * 7ms);
}
#leftCannon {
  position: absolute;
  bottom: calc(-35vmin / 5);
  width: 35vmin;
  left: 35%;
  transform: rotate(calc(var(--cannonAngle) * -1deg));
  transform-origin: left 60%;
}
#rightCannon {
  position: absolute;
  width: 35vmin;
  bottom: calc(-35vmin / 5);
  transform: rotate(calc(var(--cannonAngle) * 1deg)) translateX(-35vmin)
    rotateY(180deg);
  right: 35%;
  transform-origin: right 60%;
  z-index: 2;
}
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, lightblue, 10%, white, darkblue, yellow);
}
#leftCloud {
  width: 60vmin;
  transform: rotateY(180deg);
  position: absolute;
  left: 34.5%;
  margin-left: calc(-60vmin / 2.5);
  bottom: 0;
}
#rightCloud {
  width: 60vmin;
  position: absolute;
  right: 34.5%;
  margin-right: calc(-60vmin / 2.5);
  bottom: 0;
}
#jugglingContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#video {
  position: absolute;
  top: 0.5vw;
  left: 0.5%; /* Should use rem?*/
  width: 30%;
  height: 30%;
}
@keyframes leftBall {
  0% {
    left: 35%;
    top: calc(100% - 8vmin - 8vmin);
    animation-timing-function: cubic-bezier(0.55, 0.83, 0.77, 0.88);
  }
  50% {
    left: 52%; /*52*/
    top: 0;
    animation-timing-function: cubic-bezier(0.17, 0.13, 0.6, 0.37);
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-1080deg);
    left: 75%;
    top: calc(100% - 8vmin);
  }
}
@keyframes rightBall {
  0% {
    right: 35%;
    top: calc(100% - 8vmin - 8vmin);
    animation-timing-function: cubic-bezier(0.55, 0.83, 0.77, 0.88);
  }
  50% {
    right: 52%;
    top: 0;
    animation-timing-function: cubic-bezier(0.17, 0.13, 0.6, 0.37);
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(1080deg);
    right: 75%;
    top: calc(100% - 8vmin);
  }
}
@media (max-aspect-ratio: 1/1) {
  #jugglingContainer {
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
  }
  #video {
    top: auto;
    bottom: 0.5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 39.5%;
    width: 90%;
  }
}
